### your site title here

title: Samarjeet Kumar Singh
description: IISc | Building TestUrSelf, TestUrExam & Padhekeba | Chai

baseurl:
url: "http://samarjeet.xyz" 
email: samarjeet.xyz@gmail.com


highlighter: rouge
markdown: kramdown

# Pagination
paginate: 4
permalink: /blog/:year/:title/
paginate_path: /blog/page:num/

# Social media links in footer
facebook: "samarjeetkumarsingh"
twitter: "samarjeetksingh"
linkedin: "samarjeetkumarsingh"
github: "samarjeetkumarsingh"
researchgate: "Samarjeet-Singh-10"
orcid: "0000-0002-7828-175X"

highlighter: rouge
markdown: kramdown

# Tracker
analytics:

#optimization -> compress.html
compress_html:
  clippings: [html,div, p, ul, td, h1, h2, h3, h4,link, meta, footer, nav, img, header, hr, br, head, style, li, ul, ol, time, main, script, title]
  comments: ["<!-- ", " -->"]
  endings: [all]
  ignore:
    envs: [local]
  blanklines: false
  profile: false
  startings: []

#collection
collections:
  projects:
    output: true
    permalink: /projects/:path/

sass:
  sass_dir: /assets/css/_sass
  style: compressed

include:
  - _pages

exclude:
  - README.md
  - LICENSE.md

plugins:
  - jekyll-seo-tag
  - jekyll-paginate
  - jekyll-email-protect
  - jekyll-target-blank

theme: jekyll-theme-cayman
