<header id="header" style="padding: 25px 0;
    position: fixed;
    width: 100%;
    top: 0;
    max-width: 1200px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;">
        <div class="container" style="    max-width: 1400px;
    margin: 0 auto;
    padding: 0 40px;">
            <nav>
                <a href="#" class="logo">
                    <div class="logo-icon">S</div>
                    <span>Samarjeet</span>
                </a>
                <div class="nav-links" style="display: flex;">
                     <a href="/">Home</a>
                
                    <a href="/blog">Blogs</a>
                   
                 
                </div>
         
            </nav>
        </div>
    </header>

